/* global styles */
* {       
    box-sizing: border-box;
    background-color: black;
    color: whitesmoke;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


/* Typography */
h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 80px;
    padding: 25px;  
}


/* Buttons */
.button-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;      
}


button {
    border: 5px solid whitesmoke;
    border-radius: 3rem;
    transition: all .5s ease;
    margin: 1rem;
    font-size: 5.5rem;
    padding: 1rem .5rem;
    width: 10rem; 
    background-color: rgba(8, 124, 139, 0.7);
    text-align: center;  
    cursor: pointer;  

}

button:hover {
    background-color: rgba(8, 124, 139, 0.3);
    transform: scale(1.2);
}

/* Dynamic Results */

.userScore, .compScore {
    font-size: 30px;
    
    display: flex;
    justify-content:flex-start;
    padding: 10px;
}

.result {
    font-style: italic;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.compSelection {
    font-style: italic;
    color: red;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.computerWins, .playerWins {
    font-style: italic;
    font-size: 60px;
    padding: 25px;

    display: flex;
    justify-content: center;
}

